<launch>
  <!-- Bring up the agent. -->
 
  <!--~~~~~~~~~~~~~~~~~~ Robot configuration ~~~~~~~~~~~~~~~~~~-->

  <!-- non-standard joint names -->
  <rosparam command="load" file="$(find abb_irb1200_support)/config/joint_names_irb1200_5_90.yaml" />
  <!-- load the robot_description parameter before launching ROS-Industrial nodes -->
  <include file="$(find abb_l515_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>
  <!-- parameters -->
  <rosparam file="$(find abb_l515_bringup)/config/abb_l515.yaml" command="load" ns="agent" subst_value="true" />

  <!--~~~~~~~~~~~~~~~~~~ Choose simulation or real-world ~~~~~~~~~~~~~~~~~~-->

  <!-- the "sim" argument controls whether we connect to a Simulated or Real robot -->
  <arg name="sim" default="true" doc="Use Gazebo simulator instead of real robot" />
  <!-- if sim=false, a robot_ip argument is required -->
  <arg name="robot_ip" value="192.168.125.1" unless="$(arg sim)" doc="IP of controller" />
  <!-- use sim time -->
  <param name="use_sim_time" type="bool" value="$(arg sim)" />
  <!-- usecase -->
  <arg name="usecase" default="greenhouse" doc="Flexcraft usecase" />
  <arg name="model" default="empty_scene" doc="The model to be loaded in the simulation"/>

  <!--~~~~~~~~~~~~~~~~~~ Execution ~~~~~~~~~~~~~~~~~~-->

  <!-- if sim is true, run the robot simulator and action interface nodes -->
  <group if="$(arg sim)">
    <!-- gazebo environment -->
    <include file="$(find abb_l515_bringup)/launch/abb_l515_gazebo.launch" pass_all_args="true" />
  </group>
  <!-- If sim is false, run the "real robot" interface nodes -->
  <group unless="$(arg sim)">
    <!-- real environment -->
    <include file="$(find abb_l515_bringup)/launch/abb_l515_real_world.launch">
      <arg name="robot_ip" value="$(arg robot_ip)"/>
    </include>
  </group>

  <!-- abb arm control -->
  <include file="$(find abb_control)/launch/arm_control_node.launch">
    <arg name="usecase" value="$(arg usecase)"/>
  </include>
  <!-- publish joint states in TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />
  <!-- joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="source_list">[/joint_states]</rosparam>
  </node>
  <!-- run the main MoveIt executable -->
  <include file="$(find abb_l515_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>
  <!-- launch Rviz for visualization -->
  <include file="$(find abb_l515_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find abb_l515_moveit_config)/launch/moveit.rviz"/>
    <arg name="debug" value="false"/>
  </include>

</launch>