<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tomato4">
  <link name="link">
    <visual>
      <geometry>
        <mesh filename="package://greenhouse_gazebo/meshes/tomato/meshes/plant4.dae" scale="1 1 1"/>
      </geometry>
      <material name="plant4_material">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://greenhouse_gazebo/meshes/tomato/meshes/plant4.dae" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
